body {
	font-family: 'Open Sans', sans-serif;
	background: #222;
}
.loading {
	position: fixed;
	z-index: 555;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);

}
.loading span{
	position: absolute;
	top: 50%;
	left: 50%;
	color: #888;
	font-size: 50px;
	font-weight: 900;
	transform: translate(-50%, -50%);
}
.loading.loaded {
	display: none;
}
.pad-about {
	position: relative;
	float: left;
	width: 50%;
	height: 100vh;
}
.pad-about span{
	position: absolute;
	display: inline-block;
	width: 80%;
	text-align: center;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 50px;
	color: #555;
}
.dj-pad {
	position: relative;
	width: 50%;
	height: 100vh;
	background: #333;
	float: right;
	box-sizing: border-box;
}
.dj-pad ul{
	height: 100%;
	font-size: 0;
	box-sizing: border-box;
	padding: 5px;
}
.dj-pad ul li{
	position: relative;
	display: inline-block;
	font-size: 16px;
	width: 33.3%;
	height: 33.3%;
	border-radius: 4px;
	padding: 5px;
	box-sizing: border-box;
}
.dj-pad ul li span{
	background: #444;
	display: block;
	height: 100%;
	transition: .05s ease-in-out;
	cursor: pointer;
}
.dj-pad ul li.face span{
	background: url(../img/face.jpg) center no-repeat;
	background-size: cover;
}
.dj-pad ul li span i{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 100px;
	font-weight: 900;
	opacity: .2;
	color: #fff;
	font-style: normal;
}
.dj-pad ul li.clicked span{
	box-shadow: 0px 0px 0px 12px #ff4800;
	transform: scale(.9);
}